.tableContainer {
  padding: 14px 32px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 700;
      font-size: 28px;
      font-display: swap;
    }

    button {
      background-color: #4880ff;
      padding: 8px 16px;
      border-radius: 6px;
      color: white;
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;
      font-weight: 600;
      transition: 200ms;
    }

    button:hover {
      background-color: #3b6de1;
    }
  }

  table {
    margin-top: 24px;
    width: 100%;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-spacing: 0;
    border-top: 1px solid #d5d5d5;

    th {
      padding: 16px;
      border-bottom: 1px solid #d5d5d5;
    }

    th:first-child {
      border-top-left-radius: 8px;
      border-left: 1px solid #d5d5d5;
    }

    th:last-child {
      border-top-right-radius: 8px;
      border-right: 1px solid #d5d5d5;
    }

    td {
      border-bottom: 1px solid #d5d5d5;
      padding: 30px 0;
      text-align: center;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      background-color: #fafbfd;
      border: none;
      padding: 0px 20px;
      height: 40px;
      display: flex;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    button:first-child {
      border-radius: 0;
      border-right: 1px solid #d5d5d5;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

.emptyData {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 639px) {
  .tableContainer {
    padding: 20px;

    table,
    tr,
    tbody,
    thead {
      display: block;
      border-top: none;

      td,
      th {
        display: flex;
        justify-content: center;
      }

      th:first-child {
        border-left: none;
      }

      th:last-child {
        border-right: none;
      }
    }
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .tableContainer {
    padding: 20px;
  }
}

.loader {
  margin-top: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 130px;
  height: 4px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: #4880ff;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
