nav {
  padding: 14px 32px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > span {
    font-weight: 600;
  }

  .accountInfo {
    display: flex;
    gap: 5px;

    .profileName {
      display: flex;
      flex-direction: column;

      span:first-child {
        font-size: 14px;
        color: #404040;
        font-weight: 700;
        text-transform: capitalize;
      }

      span {
        font-weight: 600;
        font-size: 12px;
        color: #565656;
      }
    }
  }
}
